*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    background-color: #283149;
}
h1{
    margin: 30px;
    font-size: 1.5rem;
    color: #DBEDF3;
    font-family: "Arvo", cursive;
    text-shadow: 2px 0  #DA0463;
}
.button{
    width: 64px;
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
}
.row{
    margin: 8px 0;
}
.row input{
    width: 291px;
    font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
}